<div class="box box-link-hover-shadow">

  <i class="fas fa-map-marker-alt" style="color: #ff7800;"></i>
  <i class="fas fa-plus fa-xs" style="color: #64c8ff;"></i>
  <i class="far fa-thumbs-up" style="color: #FFD43B;"></i>

</div>