<form class="box" action="/category/{{categoryId}}/addplace" method="POST">
  <label>Enter New Place Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Place Name" name="name" />
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Description" name="description" />
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter latitude" name="latitude" />
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter longitude" name="longitude" />
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Place</button>
</form>