<form class="box" action="/category/{{place.categoryId}}/place/{{place._id}}/addcomment" method="POST">
  <label class="label">Your comment:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <textarea class="textarea" name="comment" placeholder="Enter your comment here" rows="4" cols="50"></textarea>
      </div>
      <div>
        <button class="button is-primary" type="submit">Add Comment</button>
      </div>
    </div>
  </div>
</form>