<form action="/category/{{this.categoryId}}/place/{{this._id}}/addvote" method="POST">
  <div class="select">
    <select name="vote">
      <option value="1">⭐</option>
      <option value="2">⭐⭐</option>
      <option value="3">⭐⭐⭐</option>
      <option value="4">⭐⭐⭐⭐</option>
      <option value="5" selected>⭐⭐⭐⭐⭐</option>
    </select>
  </div>
  <button class="button" type="submit">Vote</button>
</form>